openai==0.27.0
requests~=2.31.0
tenacity~=8.2.2
termcolor~=2.3.0
boto3~=1.26.165
pydub~=0.25.1
SpeechRecognition
python_dotenv
pyaudio~=0.2.13
python-dotenv~=1.0.0
EdgeGPT~=0.12.0
eventregistry~=9.1
spacy~=3.6.0
asyncio~=3.4.3
